sudo: false

language: java

jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2/repository

before_script:
  - java -version
  - mvn dbflute:replace-schema -Ddbflute.forceExecution=y

script:
  - mvn test

