<?xml version="1.0"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
	<!-- #for_now add full-URL xsd definition to schemaLocation and download it on Eclipse tooltip
	     then the web-app and xsd error on Eclipse were disappeared by jflute (2024/08/01)
	     (ref: https://qiita.com/opengl-8080/items/7a2ddecdcdaeea229ae7)
	 -->

    <!-- ================================================================================= -->
    <!--                                                                    Servlet Filter -->
    <!--                                                                    ============== -->
	<filter>
		<filter-name>lastaFilter</filter-name>
		<filter-class>org.lastaflute.web.LastaFilter</filter-class>
	</filter>

    <!-- ================================================================================= -->
    <!--                                                                    Filter Mapping -->
    <!--                                                                    ============== -->
	<filter-mapping>
		<filter-name>lastaFilter</filter-name>
		<url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

    <!-- ================================================================================= -->
    <!--                                                                           Servlet -->
    <!--                                                                           ======= -->

    <!-- ================================================================================= -->
    <!--                                                                   Servlet Mapping -->
    <!--                                                                   =============== -->

    <!-- ================================================================================= -->
    <!--                                                                    Session Config -->
    <!--                                                                    ============== -->
	<session-config>
		<session-timeout>120</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

    <!-- ================================================================================= -->
    <!--                                                                      Welcome File -->
    <!--                                                                      ============ -->
	<!--
	<welcome-file-list>
	</welcome-file-list>
	-->

    <!-- ================================================================================= -->
    <!--                                                                        JSP Config -->
    <!--                                                                        ========== -->
    <!-- #migration change taglib definition -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude>/WEB-INF/view/common/common.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>

    <!-- ================================================================================= -->
    <!--                                                                        Error Page -->
    <!--                                                                        ========== -->
	<error-page><error-code>400</error-code><location>/error/400.html</location></error-page>
	<error-page><error-code>404</error-code><location>/error/404.html</location></error-page>
	<error-page><error-code>500</error-code><location>/error/500.html</location></error-page>
	<error-page><exception-type>java.lang.Exception</exception-type><location>/error/500.html</location></error-page>
</web-app>
